In [1]:
# =======================
# PANDAS SECTION
# =======================

import numpy as np
import pandas as pd

dict1 = {
    "name": ["rohan", "seema", "mahesh", "shruti"],
    "marks": [9, 55, 67, 98],
    "city": ["Delhi", "Jaipur", "Rampur", "Barilly"]
}

df = pd.DataFrame(dict1)
print(df)

# Change index
df.index = [1, 2, 3, 4]
print(df)

     name  marks     city
0   rohan      9    Delhi
1   seema     55   Jaipur
2  mahesh     67   Rampur
3  shruti     98  Barilly
     name  marks     city
1   rohan      9    Delhi
2   seema     55   Jaipur
3  mahesh     67   Rampur
4  shruti     98  Barilly

In [2]:
# Change index
df.index = [1, 2, 3, 4]
print(df)

#

     name  marks     city
1   rohan      9    Delhi
2   seema     55   Jaipur
3  mahesh     67   Rampur
4  shruti     98  Barilly

In [3]:

# Series
ser = pd.Series(np.random.rand(20))
print(ser)
print(type(ser))

0     0.838782
1     0.743550
2     0.990963
3     0.296421
4     0.860118
5     0.143003
6     0.498453
7     0.997387
8     0.804986
9     0.306423
10    0.724350
11    0.347072
12    0.962952
13    0.028944
14    0.375985
15    0.073430
16    0.067925
17    0.061732
18    0.426512
19    0.955272
dtype: float64
<class 'pandas.core.series.Series'>

In [4]:
# Series
ser = pd.Series(np.random.rand(20))
print(ser)
print(type(ser))

0     0.706563
1     0.831865
2     0.387272
3     0.019049
4     0.671079
5     0.082065
6     0.021949
7     0.912568
8     0.800871
9     0.357790
10    0.435327
11    0.858370
12    0.301582
13    0.342119
14    0.405722
15    0.473949
16    0.128405
17    0.365968
18    0.679754
19    0.483670
dtype: float64
<class 'pandas.core.series.Series'>

In [7]:
# DataFrame with random values
newdf = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
newdf

            0         1         2         3         4
0    0.264313  0.788164  0.751952  0.625747  0.271416
1    0.303336  0.452737  0.554015  0.476785  0.936009
2    0.231832  0.165297  0.226566  0.988162  0.787027
3    0.734305  0.790540  0.746776  0.289047  0.291813
4    0.855197  0.461282  0.237279  0.560412  0.680323
..        ...       ...       ...       ...       ...
329  0.792898  0.657818  0.809786  0.202896  0.301728
330  0.780471  0.475295  0.377366  0.269972  0.903528
331  0.463225  0.601065  0.333651  0.390871  0.733987
332  0.161845  0.188587  0.414058  0.972959  0.605201
333  0.238894  0.158942  0.427205  0.854613  0.310857

[334 rows x 5 columns]

In [8]:

print(newdf.head(3))
print(newdf.tail(3))

          0         1         2         3         4
0  0.264313  0.788164  0.751952  0.625747  0.271416
1  0.303336  0.452737  0.554015  0.476785  0.936009
2  0.231832  0.165297  0.226566  0.988162  0.787027
            0         1         2         3         4
331  0.463225  0.601065  0.333651  0.390871  0.733987
332  0.161845  0.188587  0.414058  0.972959  0.605201
333  0.238894  0.158942  0.427205  0.854613  0.310857

In [9]:
# Sort index
print(newdf.sort_index(axis=0))

            0         1         2         3         4
0    0.264313  0.788164  0.751952  0.625747  0.271416
1    0.303336  0.452737  0.554015  0.476785  0.936009
2    0.231832  0.165297  0.226566  0.988162  0.787027
3    0.734305  0.790540  0.746776  0.289047  0.291813
4    0.855197  0.461282  0.237279  0.560412  0.680323
..        ...       ...       ...       ...       ...
329  0.792898  0.657818  0.809786  0.202896  0.301728
330  0.780471  0.475295  0.377366  0.269972  0.903528
331  0.463225  0.601065  0.333651  0.390871  0.733987
332  0.161845  0.188587  0.414058  0.972959  0.605201
333  0.238894  0.158942  0.427205  0.854613  0.310857

[334 rows x 5 columns]

In [10]:
# Drop column 0
print(newdf.drop(0, axis=1))

            1         2         3         4
0    0.788164  0.751952  0.625747  0.271416
1    0.452737  0.554015  0.476785  0.936009
2    0.165297  0.226566  0.988162  0.787027
3    0.790540  0.746776  0.289047  0.291813
4    0.461282  0.237279  0.560412  0.680323
..        ...       ...       ...       ...
329  0.657818  0.809786  0.202896  0.301728
330  0.475295  0.377366  0.269972  0.903528
331  0.601065  0.333651  0.390871  0.733987
332  0.188587  0.414058  0.972959  0.605201
333  0.158942  0.427205  0.854613  0.310857

[334 rows x 4 columns]

In [11]:

# Drop NaN (no effect here but correct)
newdf.dropna(inplace=True)