In [3]:
# =======================
# PANDAS SECTION
# =======================

import numpy as np
import pandas as pd

dict1 = {
    "name": ["rohan", "seema", "mahesh", "shruti"],
    "marks": [9, 55, 67, 98],
    "city": ["Delhi", "Jaipur", "Rampur", "Barilly"]
}

df = pd.DataFrame(dict1)
print(df)

# Change index
df.index = [1, 2, 3, 4]
print(df)

# Series
ser = pd.Series(np.random.rand(20))
print(ser)
print(type(ser))

# DataFrame with random values
newdf = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
print(newdf.head(3))
print(newdf.tail(3))

# Sort index
print(newdf.sort_index(axis=0))

# Drop column 0
print(newdf.drop(0, axis=1))

# Drop NaN (no effect here but correct)
newdf.dropna(inplace=True)

# =======================
# NUMPY SECTION
# =======================

# Basic array
a = np.array([1, 2, 3, 4])
print(a[-1])

# Slicing
b = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
print(b[-1:5])   # empty array (valid)

# Copy vs View
c = b.copy()
d = b.view()

b[0] = 12
print("b:", b)
print("view d:", d)
print("copy c:", c)

# Reshape
a = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
b = a.reshape(4, 3)
print(b)

# Concatenate (CORRECT)
c = np.array([13, 14, 15])
d = np.concatenate((np.array([4]), c))
print(d)

# Lambda function
x = lambda a: a + 1
print(x(5))

# Sorting arrays
c = np.array([3, 4, 2, 10, 5])
print(np.sort(c))

# 2D sorting (fixed row sizes)
c = np.array([[2, 3, 1, 0], [5, 1, 2, 4]])
print(np.sort(c))          # row-wise
print(np.sort(c, axis=0))  # column-wise

# String sorting
c = np.array(['apple', 'orange', 'banana', 'mango'])
print(np.sort(c))

# Random functions
print(np.random.randint(100))
print(np.random.rand(10))

# Zeros and Ones
print(np.zeros(5))
print(np.ones(2))
print(np.zeros((2, 3)))
print(np.ones((2, 5)))

# View + split (CORRECT)
d = b.view()
print(d)

print(np.array_split(d.flatten(), 2))   # safe split

# Where conditions
print(np.where(d == 4))
print(np.where(d % 2 == 0))

     name  marks     city
0   rohan      9    Delhi
1   seema     55   Jaipur
2  mahesh     67   Rampur
3  shruti     98  Barilly
     name  marks     city
1   rohan      9    Delhi
2   seema     55   Jaipur
3  mahesh     67   Rampur
4  shruti     98  Barilly
0     0.126171
1     0.876951
2     0.916185
3     0.884693
4     0.900421
5     0.927581
6     0.431158
7     0.980468
8     0.720268
9     0.686094
10    0.097678
11    0.957884
12    0.450766
13    0.387935
14    0.853180
15    0.674257
16    0.016647
17    0.505411
18    0.937803
19    0.787192
dtype: float64
<class 'pandas.core.series.Series'>
          0         1         2         3         4
0  0.413954  0.345859  0.876281  0.372271  0.021610
1  0.227863  0.120110  0.507285  0.480787  0.737025
2  0.882032  0.332174  0.586401  0.439368  0.771849
            0         1         2         3         4
331  0.581753  0.940435  0.201218  0.104183  0.448837
332  0.868726  0.036126  0.210666  0.005842  0.211133
333  0.744768  0.039741  0.793138  0.981850  0.185828
            0         1         2         3         4
0    0.413954  0.345859  0.876281  0.372271  0.021610
1    0.227863  0.120110  0.507285  0.480787  0.737025
2    0.882032  0.332174  0.586401  0.439368  0.771849
3    0.905600  0.738617  0.966293  0.089918  0.189910
4    0.797632  0.871432  0.533585  0.000314  0.474357
..        ...       ...       ...       ...       ...
329  0.452478  0.723910  0.153815  0.773475  0.363613
330  0.615822  0.786216  0.837402  0.742376  0.709654
331  0.581753  0.940435  0.201218  0.104183  0.448837
332  0.868726  0.036126  0.210666  0.005842  0.211133
333  0.744768  0.039741  0.793138  0.981850  0.185828

[334 rows x 5 columns]
            1         2         3         4
0    0.345859  0.876281  0.372271  0.021610
1    0.120110  0.507285  0.480787  0.737025
2    0.332174  0.586401  0.439368  0.771849
3    0.738617  0.966293  0.089918  0.189910
4    0.871432  0.533585  0.000314  0.474357
..        ...       ...       ...       ...
329  0.723910  0.153815  0.773475  0.363613
330  0.786216  0.837402  0.742376  0.709654
331  0.940435  0.201218  0.104183  0.448837
332  0.036126  0.210666  0.005842  0.211133
333  0.039741  0.793138  0.981850  0.185828

[334 rows x 4 columns]
4
[]
b: [12  2  3  4  5  6  7  8  9]
view d: [12  2  3  4  5  6  7  8  9]
copy c: [1 2 3 4 5 6 7 8 9]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[ 4 13 14 15]
6
[ 2  3  4  5 10]
[[0 1 2 3]
 [1 2 4 5]]
[[2 1 1 0]
 [5 3 2 4]]
['apple' 'banana' 'mango' 'orange']
93
[0.1420467  0.07408705 0.80285915 0.17881925 0.33687055 0.32989723
 0.97621269 0.53110082 0.27549555 0.40583023]
[0. 0. 0. 0. 0.]
[1. 1.]
[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[array([1, 2, 3, 4, 5, 6]), array([ 7,  8,  9, 10, 11, 12])]
(array([1]), array([0]))
(array([0, 1, 1, 2, 3, 3]), array([1, 0, 2, 1, 0, 2]))